.task, .inputBox{
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--gray-600);
    border-radius: 0.875rem;
    margin-top: 1rem;
    gap: 1rem;
}

.task{
    gap: 0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.header h1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.taskTitle{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.taskDescription{
    border: 2px solid var(--gray-700);
    border-radius: 0.35rem;
    padding: 1rem;
    width: 30rem;
    background-color: var(--gray-800);
}

.taskDate{
    font-size: 0.875rem;
    padding: 0.5rem;
    margin: 10;
}

.btnBox{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    margin-top: 0.5rem;
}

.btnDone, .btnDone:focus, .btn, .btn:focus{
    border: 0 solid rgba(0, 0, 0, 0);
}

.btn, .btnDone{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.btn:focus, .btnDone:focus{
    box-shadow: 0 0 0 0px var(--green-500);
}

.checkDone, .checkDoneFinished{
    font-size: 4rem;
    height: 200px;
    height: 200px;
}

.checkDoneFinished{
    color: var(--green-300);
}

.lock{
    color: var(--red-400);
}


