.display{
    display: grid;
    width: 100vw;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.teamList{
    height: 100%;
    border-right: 3px solid var(--gray-700);
}

.taskArea{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newTask, .inputBox{
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--gray-600);
    border-radius: 0.875rem;
    margin-top: 1rem;
    gap: 1rem;
}

.newTask input, .inputBox input{
    line-height: 2rem;
    width: 30rem;
    border-radius: 8px;
    border: 1px solid var(--green-300);
    padding: 0.25rem;
}

.btnAddTask{
    width: 30rem;
}




