.header{
    background-color: var(--gray-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    height: 7rem;
    padding: 0;
}

.header h1{
    font-family: 'Zeyada', cursive;
    font-size: 4rem;
    padding-top: 0.9rem;
    margin-left: 2rem;
}
.avatar{
    box-sizing: initial;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);

    object-fit: cover;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profileBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.profileName{
    display: flex;
    align-items: center;
    text-align: center;
}

.logout{
        height: 3rem;
        width: 6rem;
        border-radius: 8px;
        border: 0;
        background-color: var(--green-500);
        color: var(--white);
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.1s;
        margin-right: 2rem;
}