.display{
    display: flex;
    width: 100vw;
    height: calc(100vh - 7rem);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

button{
    height: 56px;
    width: 650px;
  
    color: var(--text);
    background: none;
    font-size: 18px;
  
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #00B37E, #E1E1E6) 1;
  
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background-color .3s;

}

.btnSignIn{
    border-image: linear-gradient(to right, #00B37E, #E1E1E6) 1;
}

.btnSignOut{
    border-image: linear-gradient(to right, #b33300, #E1E1E6) 1;
}

.btnSignOut:focus{
    box-shadow: 0 0 0 2px var(--red-400);
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

svg {
    font-size: 24px;
    margin-right: 7px;
  }