.list{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

}

.mainInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.avatar{
    box-sizing: initial;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);

    object-fit: cover;
}

.name{
    font-size: 0.75rem;
    font-weight: 100;
}

.online{
    color: var(--green-500);
}

.offline{
    color: var( --red-400);

}